@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .animate-slide-down {
    animation: slide-down 0.3s ease-out forwards;
  }

  .animate-slide-up {
    animation: slide-up 0.3s ease-in forwards;
  }

  @keyframes slide-down {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
}
